@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
button, select, .cart-Button, .imag{
    cursor: pointer;
}

img{
    height: 50px;
    width: 50px;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px;
    position: fixed;
    z-index: 5;
    background-color: #ECF0F1 ;
    color: #5931A9 ;
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: bold;
    font-size: larger;
}
.cart-Button{
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    position: relative;
}
.cart-Button img {
    height: 40px;
    width: 40px;
}
.cartCont {
    position: absolute;
    height: 15px;
    min-width: 10px;
    padding: 2px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    top: 14px;
    right: -8px;
    background-color: orangered;
    color: white;
    font-size: xx-small;
    border-radius: 50%;
}

footer {
    font-family: "Oleo Script", system-ui;
    color: whitesmoke;
    background-color: black;
    font-size: medium;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 16px 8px;
    gap: 15px;
    margin-top: 10px;
}
@media (min-width: 1024px) {
    footer{
        flex-direction: row;
        justify-content: space-between;
        padding-right: 5%;
        padding-left: 5%;
    }
}
footer > button {
    color: whitesmoke;
    background-color: rgb(31, 30, 30);
    height: 50px;
    width: 50px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.app-continer {
    width: 100%;
    min-height: 85.5vh;
    padding-top: 100px;
    background-color: #fbfeff;
}



.imag {
    height: auto;
    transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s ease;
    transform-origin: center center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.imag:hover {
    transform: scale(2);
    opacity: 1;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5); 
}

.card:hover .imag {
    background-color: rgba(0, 0, 0, 0.8); 
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
    transition: background-color 0.6s ease, box-shadow 0.6s ease;
}

.loader {
    --d: 22px; 
    width: 4px; 
    height: 4px; 
    border-radius: 50%;
    color: black;
    box-shadow: 
      calc(1 * var(--d))      calc(0 * var(--d))     0 0,
      calc(0.707 * var(--d))  calc(0.707 * var(--d)) 0 1px,
      calc(0 * var(--d))      calc(1 * var(--d))     0 2px,
      calc(-0.707 * var(--d)) calc(0.707 * var(--d)) 0 3px,
      calc(-1 * var(--d))     calc(0 * var(--d))     0 4px,
      calc(-0.707 * var(--d)) calc(-0.707 * var(--d))0 5px,
      calc(0 * var(--d))      calc(-1 * var(--d))    0 6px;
    animation: l27 1s infinite steps(8);
    align-self: center;
}

@keyframes l27 {
    100% { transform: rotate(1turn); }
}


  
  